$border-color: #d9d9d9;

html {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  text-align: center;
  padding: 1rem;
  color: #2b2b2b;
}

.weui-badge {
  &.weui-badge-success {
    background-color: #09BB07;
  }
}

.header {
  align-items: center;
  padding: .5em 1em;
  border-bottom: 1px solid $border-color;
  background-color: #fff;

  img {
    height: 2em;
    padding-right: .5em;
  }

  .header-text {
    small {
      color: #888;
    }
  }
}

.list-groups {
  border-top: 1px solid $border-color;

  .list-group-item {
    padding: 1.3em .5em .5em;
    border-bottom: 1px solid $border-color;
    align-items: center;

    .list-group-item-label {
      text-align: left;
      padding-left: .5em;
      color: #999;
      font-size: .9em;
    }

    .list-group-item-value {
      text-align: right;
      padding-right: .5em;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}

.appointment {
  background-color: #fff;
}

// appointments#index
.operations-area-wrap {
  flex-grow: 1;
  display: flex;
  align-content: center;
  align-items: center;
  padding-bottom: 2em;
  background-color: #fff;

  .operations-area {
    display: flex;
    flex-direction: column;
    margin: auto;

    .appointments-count {
      margin-top: 1.5em;
      text-align: center;
      color: #888;

      span {
        color: #09BB07;
      }
    }
  }
}

.weui-btn_huge {
  padding: 2em;
}
