$border-color: #d9d9d9;

html {
  height: 100%;
  font-size: 16px;
}

@media only screen and (max-device-width: 320px) {
  html {
    font-size: 14px
  }

  .station {
    min-height: auto!important;
  }
}

@media only screen and (min-device-width: 414px) {
  html {
    font-size: 18px
  }
}

@media only screen and (min-device-width: 415px) {
  .station {
    max-width: 768px;
    width: 80%;
    align-self: center;
  }
}

body {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  text-align: center;
  padding: 1rem;
  color: #2b2b2b;
}

.weui-badge {
  &.weui-badge-success {
    background-color: #09BB07;
  }
}

.header {
  align-items: center;
  padding: .5em 1em;
  border-bottom: 1px solid $border-color;
  background-color: #fff;

  img {
    height: 2em;
    padding-right: .5em;
  }

  .header-text {
    small {
      color: #888;
    }
  }
}

.list-groups {
  border-top: 1px solid $border-color;
  margin-bottom: 1em;

  .list-group-item {
    padding: 1.3em .5em .5em;
    border-bottom: 1px solid $border-color;
    align-items: center;

    .list-group-item-label {
      text-align: left;
      padding-left: .5em;
      color: #999;
      font-size: .9em;
    }

    .list-group-item-value {
      text-align: right;
      padding-right: .5em;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}

.appointment {
  background-color: #fff;
}

// appointments#index
.station-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5em;

  .station {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.2rem;
    min-height: 240px;

    .station-card {
      color: #fff;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: .6rem;
      padding: 1.6rem 0 1rem;

      // background-color
      background: #ff9c00;
      background: -moz-linear-gradient(-45deg,  #ff9c00 0%, #ef6c00 100%);
      background: -webkit-linear-gradient(-45deg,  #ff9c00 0%,#ef6c00 100%);
      background: linear-gradient(135deg,  #ff9c00 0%,#ef6c00 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c00', endColorstr='#ef6c00',GradientType=1 );
      -webkit-box-shadow: 0px 2px 5px 1px rgba(189,85,0,0.35);
      -moz-box-shadow: 0px 2px 5px 1px rgba(189,85,0,0.35);
      box-shadow: 0px 2px 5px 1px rgba(189,85,0,0.35);

      .name {
        font-size: 1.4rem;
      }

      .operation-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 0 1.8rem;
      }

      .appointments-count {
        .counter-text {
          font-size: .8rem;
        }

        .counter-value {
          font-size: 1.8rem;
          line-height: 1.2em;
          font-weight: 500;
        }
      }

      .operation {
        font-size: 1.4rem;
        font-weight: 500;
      }

      .address {
        font-size: .8rem;
      }
    }

    .station-addition {
      font-size: .8rem;
      margin-top: .6rem;
    }
  }
}

.operations-area-wrap {
  flex-grow: 1;
  display: flex;
  align-content: center;
  align-items: center;
  padding-bottom: 2em;
  background-color: #fff;

  .operations-area {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
  }
}

.button-sp-area {
  margin: 0 auto;
  padding: 15px 0;
  width: 60%;
  text-align: center;
}

// text helper
.warn-text {
  color: #E64340!important;
}

.muted-text {
  color: #999999!important;
}
